header {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 2 / 3;
	grid-column: 1 / -1;
	margin: 2rem 0;

	.not-found-message {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-size: 2.5rem;
	}

	input {
		color: #000;
		border: none;
		border-radius: 1.5rem;
		width: 60%;
		height: 2.5rem;
		padding: 1.5rem;
		outline: none;
		font-size: 1.5rem;
	}

	span {
		margin-top: 0.5rem;

		&:hover {
			cursor: pointer;
		}
	}
}
