@import 'base';
@import 'weatherBackgroundColor';
@import '../components/header';
@import '../components/loading';
@import '../components/temperature';
@import '../components/weather';

html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	align-items: center;
}

.not-found-popup {
	padding: 2rem;

	p {
		margin-bottom: 1rem;
		text-align: center;
	}
}
