main {
	margin: auto;
	background-color: rgba(255, 255, 255, 0.2);
	background: linear-gradient(to bottom, rgb(255, 165, 0), rgb(237, 116, 1));
	max-width: 500px;
	border-radius: 1rem;
	color: #fff;

	h1 {
		text-align: center;
		margin: auto;
		padding: 2rem;
	}
}

article {
	position: relative;
	overflow: hidden;

	& .weather-icon {
		position: absolute;
		top: 5rem;
		right: 0;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 7%;
			left: 7%;
			width: 85%;
			height: 85%;
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 50%;
		}
	}

	& > p,
	& > h2 {
		margin: 2rem;
		font-size: 1.2rem;
		font-weight: bold;
	}

	& > p {
		margin-bottom: 0;
	}

	& > h2 {
		margin-top: 0;
	}
}

.weather {
	margin: 2rem;

	h3 {
		font-size: 2rem;
	}
}

.others {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0 0 1rem 1rem;
}

.others-item {
	h4 {
		font-weight: normal;
		font-size: 0.8rem;
	}

	p {
		font-weight: bold;
	}
}
