@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-found-popup {
  padding: 2rem;
}

.not-found-popup p {
  margin-bottom: 1rem;
  text-align: center;
}

main {
  margin: auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(orange), to(#ed7401));
  background: linear-gradient(to bottom, orange, #ed7401);
  border-radius: 1rem;
  color: #fff;
}

main h1 {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header input {
  border: none;
  border-radius: 1rem;
  width: 60%;
  height: 1.8rem;
  padding-left: 15px;
  outline: none;
}

header span {
  margin-left: 1rem;
}

header span:hover {
  cursor: pointer;
}

article {
  position: relative;
  overflow: hidden;
}

article .weather-icon {
  position: absolute;
  top: 5rem;
  right: 0;
}

article .weather-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 7%;
  left: 7%;
  width: 85%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

article p,
article h2 {
  margin: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

article p {
  margin-bottom: 0;
}

article h2 {
  margin-top: 0;
}

.temp {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 2fr 1fr 1fr / 1fr 1fr;
      grid-template-areas: 'temp temp' 'max min' 'feels feels';
  margin: 2rem;
  width: 30%;
  gap: 0.5rem;
  /* name each grid area */
}

.temp h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: temp;
  font-size: 3rem;
}

.temp #temp-max {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: max;
}

.temp #temp-min {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: min;
}

.temp #temp-max svg,
.temp #temp-min svg {
  margin-right: 0.5rem;
}

.temp p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: feels;
}

.weather {
  margin: 2rem;
}

.weather h3 {
  font-size: 2rem;
}

.others {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 0 1rem 1rem;
}

.others h4 {
  font-weight: normal;
  font-size: 0.8rem;
}

.others p {
  font-weight: bold;
}

.sunny {
  background: -webkit-gradient(linear, left top, left bottom, from(orange), to(#ed7401));
  background: linear-gradient(to bottom, orange, #ed7401);
}

.few-clouds {
  background: -webkit-gradient(linear, left bottom, left top, from(#d1913c), to(#ffd194));
  background: linear-gradient(to top, #d1913c, #ffd194);
}

.clouds {
  background: -webkit-gradient(linear, left bottom, left top, from(#757f9a), to(#d7dde8));
  background: linear-gradient(to top, #757f9a, #d7dde8);
}

.rain {
  background: -webkit-gradient(linear, left bottom, left top, from(#2c3e50), to(#3498db));
  background: linear-gradient(to top, #2c3e50, #3498db);
}

.thunder {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9d362), to(#333333));
  background: linear-gradient(to bottom, #e9d362, #333333);
}

.snow {
  background: -webkit-gradient(linear, left bottom, left top, from(#83a4d4), to(#b6fbff));
  background: linear-gradient(to top, #83a4d4, #b6fbff);
}

.mist {
  background: -webkit-gradient(linear, left bottom, left top, from(#9796f0), to(#fbc7d4));
  background: linear-gradient(to top, #9796f0, #fbc7d4);
}
